In [2]:


import pandas as pd

df = pd.read_csv("C:\\Users\\Madan\\Desktop\\projects\\sentimentanalysis\\clean_comments\\traindata\\traindata.csv", index_col=[0])

df = df.reset_index(drop=True)
df.to_csv("C:\\Users\\Madan\\Desktop\\projects\\sentimentanalysis\\clean_comments\\traindata\\traindata.csv")

In [3]:
import pickle
prior_pos = pickle.load(open('prior_pos.pkl','rb'))

bag = pickle.load(open('bag.pkl','rb'))
bag

          index  sent=positive  sent=negative
0            im       0.006210   9.805512e-04
1            go       0.022178   8.334684e-03
2           say       0.009758   5.883306e-03
3         never       0.006653   1.160319e-02
4       imagine       0.002218   4.902757e-04
...         ...            ...            ...
8512     smooth       0.001552   1.634252e-10
8513  bhutanese       0.000222   1.634252e-10
8514     affert       0.000222   1.634252e-10
8515      hinda       0.000222   1.634252e-10
8516       kehe       0.000222   1.634252e-10

[8517 rows x 3 columns]